 <body>
   
 
 <!-- ***** Blog Area Start ***** -->
 <section class="dento-blog-area">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Nossos Vídeos</h2>
            <div class="line-pink"></div>
          </div>
        </div>
      </div>

      <div class="resp-container2">

      <div class="row justify-content-center">
          <div class="single-blog-item mb-300" >  
            <div class="video-blog1 blog-content">
              <div class="video4"></div>
            </div>
          </div>
        <div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="/videos/video" class="btn dento-btn booking-btn">Ver Mais <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>

    </div>


    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

    <!-- jQuery js -->
    <script src="../js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="../js/dento.bundle.js"></script>
    <!-- Active js -->
 
    <script src="../js/apivideo4.js"></script>

  </body>