<footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url('../img/bg-img/footer.jpg');">
    <div class="container">
        <div class="row" >
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-footer-widget">
                    <a href="/" class="d-block mb-4"><img src="../img/core-img/logo_docs_saude.png" alt=""></a>
                    <div style="text-align: justify;">
                        <p>A Docs Saúde atua nos diversos campos da medicina, assim como é especializada em cuidar da
                            manutenção da saúde, bem-estar, beleza e prevenção de doenças.</p>
                    </div>
                    <div class="footer-contact">
                        <a href="tel://01142808200"><p><i class="icon_phone"></i>(11) 4280-8200</p></a>
                        <a href="mailto:contato@dermovisage.com.br"><p><i class="icon_mail"></i>contato@dermovisage.com.br</p></a>
                    </div>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-12 col-lg">
                <div class="single-footer-widget">
                    <!-- Widget Title -->
                    <h5 class="widget-title">Unidades</h5>

                    <!-- Opening Hours -->
                    <ul class="opening-hours">
                        <li><span>Unidade Osasco: </span>
                            <span>Rua São Luís, 83 - Centro Osasco - São Paulo </span>
                        </li>
                        <li><span>Unidade Pirituba: </span>
                            <span>Avenida Paula Ferreira, 2578 - Pirituba - São Paulo</span>
                        </li>
                        <li><span>Unidade Tatuapé: </span>
                            <span>Rua Serra de Botucatu, 1037 - Tatuapé - São Paulo.</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg">
                <div class="single-footer-widget">
                    <!-- Widget Title -->
                    <h5 class="widget-title">Assine nossa Newsletter</h5>

                    <p>Receba nossas postagens, dicas de saúde, novidades e promoções. Assine!</p>
                    <!-- Newsletter Form -->
                    <div class="footer-newsletter-form">
                        <form action="#" method="post">
                            <input type="email" name="nl-email" value="" placeholder="Endereço de e-mail">
                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>

                    <!-- Social Info -->
                    <div class="footer-social-info">
                        <a target="_blank" href="https://www.facebook.com/DocsSaude" data-toggle="tooltip"
                            data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/docssaude/" data-toggle="tooltip"
                            data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="https://www.youtube.com/docssaude" data-toggle="tooltip"
                            data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/company/dermovisage" data-toggle="tooltip"
                            data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copywrite-content">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Todos os direitos reservados a <a href="https://dermovisage.com.br" target="_blank">Dermovisage &#174</a>
                        <script>document.write(new Date().getFullYear());</script> 
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>