<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clínica Médica Popular</title>
    <meta name="description" content="clinica medica atendimento medico em diversas especialidades. clinica medica osasco. clinica medica pirituba. clinica medica tatuape.">
    <meta name="keywords" content="clinica medica, clinica medica popular, clinica medica acessivel, clinica popular, clinica acessivel, estetica, estética">
    <meta name="robots" content="">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="Portuguese">
    <meta name="generator" content="N/A">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Favicon -->
    <link
        href="../../public/img/bg-img/DocsSaude_Icon.png"
        rel="icon" type="image/x-icon" />
        <head>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138067163-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-138067163-1');
            </script>
            <!-- End Google Analytics Code --> 

            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KMR5452');</script>
            <!-- End Google Tag Manager -->


            <!-- Facebook Pixel Code -->
            <script>
            !function(f,b,e,v,n,t,s)
                {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
                fbq('init', '127031442085561');
            fbq('track', 'PageView');
            </script>
            <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=127031442085561&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->
        </head>
    
        <!--Folhas de estilo-->
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../style.css">
</head>