<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Top Content -->
                <div class="col-6 col-md-9 col-lg-8">
                    <div class="top-header-content">
                        <a href="tel://01142808200" data-toggle="tooltip" data-placement="bottom" title="Telefone"><i
                                class="icon_phone"></i> <span>(11) 4280-8200</span></a>
                        <a href="mailto:contato@dermovisage.com.br" data-toggle="tooltip" data-placement="bottom" title="E-mail"><i
                                class="fa fa-envelope"></i> <span>contato@dermovisage.com.br</span></a>
                    </div>
                </div>
                <!-- Top Header Social Info -->
                <div class="col-6 col-md-3 col-lg-4">
                    <div class="top-header-social-info text-right">
                        <a target="_blank" href="https://www.facebook.com/DocsSaude" data-toggle="tooltip"
                            data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://www.instagram.com/docssaude/" data-toggle="tooltip"
                            data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="https://www.youtube.com/docssaude" data-toggle="tooltip"
                            data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/dermovisage" data-toggle="tooltip"
                            data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dentoNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><img src="../img/core-img/logo_docs.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="#">Especialidades</a>
                                    <ul class="dropdown">
                                        <li><a href="../consultas/especialidades-medicas">Especialidades Médicas</a></li>
                                        <li><a href="../consultas/estetica">Estética</a></li>
                                        <li><a href="../consultas/procedimentos">Procedimentos</a></li>
                                        <li><a href="../consultas/terapias">Terapias</a></li>
                                    </ul>
                                </li>
                                <li><a href="../convenios">Convênios</a></li>
                                <li><a href="../videos/video">Nossos Vídeos</a></li>
                                <li><a href="../sobre-nos">Sobre Nós</a></li>
                                <li><a href="../contato">Contato</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <!-- Booking Now Button -->
                    <!-- <a href="#" class="btn dento-btn booking-btn">Especialidades</a> -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->