<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <section class="dentist-area section-padding-100-0">
        <div class="container">
          <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
              <div class="section-heading text-center">
                <h2>Unidades</h2>
                <div class="line"></div>
              </div>
            </div>
          </div>
    
          <div class="row">
            <!-- Single Dentist Area -->
            <div class="col-12 col-sm-6 col-md-4">
              <div class="single-dentist-area mb-100">
                <img src="img/bg-img/DOCS_SAUDE_UNIDADE_OSASCO.png" alt="">
                <!-- Dentist Content -->
                <div class="dentist-content">
                  <!-- Social Info -->
                  <div class="dentist-social-info">
                    <a target="_blank" href="https://www.facebook.com/DocsSaudeOsasco"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/docssaude/"><i class="fa fa-instagram"></i></a>
                  </div>
                  <!-- Dentist Info -->
                  <div class="dentist-info bg-gradient-overlay">
                    <h5>Unidade Osasco</h5>
                    <p>Rua São Luís, 83 - Centro</p>
                    <p>  Osasco/SP - CEP: 06093-040</p>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- Single Dentist Area -->
            <div class="col-12 col-sm-6 col-md-4">
              <div class="single-dentist-area mb-100">
                <img src="img/bg-img/DOCS_SAUDE_UNIDADE_PIRITUBA.png" alt="">
                <!-- Dentist Content -->
                <div class="dentist-content">
                  <!-- Social Info -->
                  <div class="dentist-social-info">
                    <a target="_blank" href="https://www.facebook.com/DocsSaudePirituba"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/docssaude/"><i class="fa fa-instagram"></i></a>
                  </div>
                  <!-- Dentist Info -->
                  <div class="dentist-info bg-gradient-overlay">
                    <h5>Unidade Pirituba</h5>
                    <p>Avenida Paula Ferreira, 2578
                      Pirituba </p><p>São Paulo/SP - CEP: 02916-000</p>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- Single Dentist Area -->
            <div class="col-12 col-sm-6 col-md-4">
              <div class="single-dentist-area mb-100">
                <img src="img/bg-img/DOCS_SAUDE_UNIDADE_TATUAPE.png" alt="">
                <!-- Dentist Content -->
                <div class="dentist-content">
                  <!-- Social Info -->
                  <div class="dentist-social-info">
                    <a target="_blank" href="https://www.facebook.com/DocsSaudeTatuape"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/docssaude/"><i class="fa fa-instagram"></i></a>
                  </div>
                  <!-- Dentist Info -->
                  <div class="dentist-info bg-gradient-overlay">
                    <h5>Unidade Tatuapé</h5>
                    <p>Rua Serra de Botucatu, 1037
                      Tatuapé </p> <p>São Paulo/SP - CEP: 03317-000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <script src="../js/jquery.min.js"></script>
      <!-- Popper js -->
      <script src="../js/popper.min.js"></script>
      <!-- Bootstrap js -->
      <script src="../js/bootstrap.min.js"></script>
      <!-- All js -->
      <script src="../js/dento.bundle.js"></script>

</body>
