<!DOCTYPE html>
<html lang="pt-br">
    
<%- include("../includes/headConsultas.ejs") -%>

<body>
    <%- include("../includes/preloader.ejs") -%>
    <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url('../img/bg-img/mao.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <h2 class="title">Especialidades Médicas</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb--con">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Consultas</li>
                            <li class="breadcrumb-item active" aria-current="page">Especialidades Médicas</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->
    <section class="dento-blog-area section-padding-100-0 clearfix">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h3>Confira abaixo algumas especialidades médicas que trabalhamos</h3>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Blog Item -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/alergologia">
                            <img src="../img/bg-img/alergologia.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/alergologia" class="post-title">Alergologia</a>
                            <p class="text-justify">É a especialidade que visa o diagnóstico e o tratamento alergias. Hoje é
                                chamada
                                de alergia e imunologia,
                                pois o médico deve ser conhecedor não só de alergias, mas também ser capaz de reconhecer as doenças
                                imunológicas de todas as
                                idades, embora tratem de sistema distintos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/angiologia">
                            <img src="../img/bg-img/angiologia.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/angiologia" class="post-title">Angiologia - Vascular</a>
                            <p class="text-justify">É a especialidade médica que se ocupa do tratamento clínico das doenças
                                que
                                acometem vasos sanguíneos (artérias e veias) e vasos linfáticos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/cardiologia">
                            <img src="../img/bg-img/cardiologia.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/cardiologia" class="post-title">Cardiologia</a>
                            <p class="text-justify">É a especialidade médica que cuida e diagnostica as doenças relacionadas
                                ao
                                coração
                                e sistema circulatório. O médico que se especializa nessa área é o cardiologista. A medicina
                                cardiológica
                                realiza diagnósticos e prescreve tratamentos relacionados aos transtornos do coração e vasos
                                sanguíneos..</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/clinicamedica">
                            <img src="../img/bg-img/clinica-medica.jpeg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/clinicamedica" class="post-title">Clínica Médica</a>
                            <p class="text-justify">O médico clinico é conhecedor de diversas doenças e está apto a tratar
                                várias
                                delas, podendo também lhe indicar o melhor profissional para uma doença especifica.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/dermatologia">
                            <img src="../img/bg-img/dermatologista.png" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/dermatologia" class="post-title">Dermatologia</a>
                            <p class="text-justify">É a especialidade médica que se dedica a prevenção, diagnóstico e
                                tratamento
                                clínico
                                e cirúrgico das doenças relacionados à pele, unhas, cabelos, mucosas e pelos (anexos cutâneos).</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/endocrinologia">
                            <img src="../img/bg-img/endocrinologia.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/endocrinologia" class="post-title">Endocrinologia</a>
                            <p class="text-justify">É a especialidade médica que estuda as desordens do sistema endócrino e
                                suas
                                secreções específicas, ou seja,
                                cuida do funcionamento das diversas glândulas responsáveis por produzir hormônios responsável pelo
                                equilíbrio do corpo humano.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/gastroenterologia">
                            <img src="../img/bg-img/gastroenterologia.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/gastroenterologia" class="post-title">Gastroenterologia</a>
                            <p class="text-justify">É a especialidade médica que estuda, diagnóstica e trata das doenças do
                                aparelho
                                digestivo, que compreende boca, esôfago, estomago, intestino delgado e grosso, colon, reto, pâncreas,
                                vesícula biliar, ductos biliares e fígado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/ginecologia">
                            <img src="../img/bg-img/ginecologia.png" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/ginecologia" class="post-title">Ginecologia</a>
                            <p class="text-justify">É a especialidade médica que lida com a saúde do aparelho reprodutor
                                feminino
                                (vagina, ovários, útero)
                                e mamas, sua fisiologia e patologias, bem como cuida da prevenção e orientação quanto a doenças
                                sexualmente transmissíveis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/neurologia">
                            <img src="../img/bg-img/neurologia.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/neurologia" class="post-title">Neurologia</a>
                            <p class="text-justify">É a especialidade médica que trata dos distúrbios estruturais
                                do sistema nervoso central e periférico, autônomo, parassimpático e simpático.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/ortopedia">
                            <img src="../img/bg-img/ortopedia.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/ortopedia" class="post-title">Ortopedia</a>
                            <p class="text-justify">É a especialidade médica que se dedica ao estudo e tratamento do sistema
                                locomotor
                                (ossos, músculos, ligamentos e articulações) e da coluna vertebral. O ortopedista também pode ser
                                traumatologista,
                                que trata dos traumas e fraturas do aparelho músculo-esquelético.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/otorrino">
                            <img src="../img/bg-img/otorrinolaringologista.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/otorrino" class="post-title">Otorrinolaringologista</a>
                            <p class="text-justify">É a especialidade médica que tem por objetivo o estudo e tratamento das
                                doenças
                                que acometem a orelha, o nariz, seios paranasais, garganta (faringe e laringe) cabeça e pescoço..</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/pediatria">
                            <img src="../img/bg-img/pediatria.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/pediatria" class="post-title">Pediatria</a>
                            <p class="text-justify">É a especialidade médica que estuda as doenças desde o recém-nascido até
                                a adolescência.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/psiquiatria">
                            <img src="../img/bg-img/psiquiatria.png" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/psiquiatria" class="post-title">Psiquiatria</a>
                            <p class="text-justify">Especialidade médica que diagnostica, acompanha, trata e reabilita
                                pacientes que
                                apresentam alterações psíquicas, sejam eles de cunho orgânico ou funcional, abrangendo uma grande
                                quantidade de diagnósticos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="../especialidade/reumatologia">
                            <img src="../img/bg-img/reumatologia.png" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="../especialidade/reumatologia" class="post-title">Reumatologia</a>
                            <p>É a especialidade médica que diagnostica e trata de doenças reumáticas e
                                osteoarticulares, que acometem os tecidos conjuntivos (doenças do colágeno),
                                que incluem as articulações, os ossos, os músculos, os tendões e os ligamentos.</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>



   
    <!-- ***** Footer Area Start ***** -->
    <%- include("../includes/footer.ejs") -%>
    <!-- ***** Footer Area End ***** -->
    <!-- ******* All JS ******* -->
    <!-- jQuery js -->
    <script src="../js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="../js/dento.bundle.js"></script>
    <!-- Active js -->
    <script src="../js/default-assets/active.js"></script>
</body>

</html>