<!DOCTYPE html>
<html lang="pt-br">

<%- include("../includes/headConsultas.ejs") -%>

<body>
    <%- include("../includes/preloader.ejs") -%>
    <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-gradient-overlay"
        style="background-image: url('../img/bg-img/capa_estetica.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <h2 class="title">Estética</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb--con">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Consultas</li>
                            <li class="breadcrumb-item active" aria-current="page">Estética</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->
    <section class="dento-blog-area section-padding-100-0 clearfix">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h3>Tratamentos Faciais e Corporais</h3>
                        <p>Manchas | Acne(Espinhas e Cravos) | Rejuvenescimento | Rugas |
                            Linhas de Expressão | Olheiras | Flacidez | Estrias | Celulite
                            | Gordura Localizada | Cicatrizes</p>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Blog Item -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/botox.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Botox</a>
                            <p class="text-justify">É uma toxina produzida por uma bactéria chamada Clostridium
                                botulinum. Como promove o efeito tensor sob a pele, o uso estético da toxina botulínica
                                se dá em geral principalmente para suavizar rugas e linhas de expressão na região da
                                face. A aplicação é feita a cada 6 meses e o efeito dura de 4 a 6 meses. O procedimento
                                é realizado por médicos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/peeling.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Peelings Químicos</a>
                            <p class="text-justify">É um tipo de tratamento médico no qual aplica-se uma fina camada de
                                ácidos sobre a pele a ser tratada, como o objetivo de suavizar cicatrizes e manchas,
                                rugas, linhas de expressão e promover o rejuvenescimento facial.Os resultados do peeling
                                químico podem ser vistos à partir da segunda sessão de tratamento e é continuo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/calvice.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Tratamento para Calvíce</a>
                            <p class="text-justify">Na Dermovisage temos tratamos de calvície masculina e feminina.
                                Saiba como através dos nossos dermatologistas.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Blog Item -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/colageno.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Estimulação de colágeno</a>
                            <p class="text-justify">Na estimulação de colágeno são realizadas múltiplas punções na pele,
                                atingindo a derme. Estes provocam uma reação inflamatória local que aumentam a produção
                                do colágeno dérmico, tornando a pele mais espessa, viçosa e menos
                                enrugada. A melhora começa a ocorrer cerca de 15 dias após o procedimento, atingindo seu
                                efeito máximo após 6 meses.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/preenchimento.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Preenchimento Facial</a>
                            <p class="text-justify">Os preenchimentos são procedimentos não-cirúrgicos que promovem o
                                aumento de volume da área tratada, devolvendo a harmonia ou corrigindo imperfeições. As
                                áreas mais comuns e indicadas são os lábios, as olheiras, as maças do rosto e o sulco
                                nasogeniano (conhecido popularmente como bigode chinês).</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/infusao.png"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Carboxiterapia</a>
                            <p class="text-justify">Popularmente conhecida como Carboxiterapia, é um tratamento estético
                                realizado através da administração de gás carbônico na área a ser tratada, como Gordura
                                localizada, Celulites, Estrias, Contorno dos olhos, Cicatrizes hipertróficas e Alopécia,
                                com o objetivo de regenerar os tecidos e melhorar da circulação sanguínea, levando a
                                mudanças significativas ao longo do tratamento.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/harmonizacao-facial.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Harmonização Facial</a>
                            <p class="text-justify">Harmonização facial é um conjunto de procedimentos estéticos feitos
                                para criar uma simetria no rosto do paciente. Especialistas relatam que a procura pela
                                harmonização aumentou, principalmente, com a divulgação nas redes sociais.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/intradermoterapia.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Intradermoterapia</a>
                            <p class="text-justify">Intradermoterapia é um tratamento feito no rosto e no corpo, onde são aplicadas enzimas na pele ou abaixo dela para auxiliar a absorção de gordura.
                                A Intradermoterapia é indicada para homens e mulheres que desejam reduzir gordura localizada em pequenas áreas do corpo, como papada e gordura nas axilas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/skinbooster.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Skinbooster</a>
                            <p class="text-justify">Skinbooster ® é um procedimento estético injetável simples da marca Galderma que, por meio do ácido hialurônico, hidrata profundamente a pele e traz resultados muito superiores aos de dermocosméticos, já que atua nas camadas mais profundas da pele.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/radiofrequencia.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Radiofrequência</a>
                            <p class="text-justify">A radiofrequência é um tratamento estético utilizado no combate à flacidez do rosto ou do corpo, sendo muito eficaz para eliminar rugas, linhas de expressão e até mesmo a gordura localizada e também a celulite, sendo um método seguro com efeitos duradouros.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/ultracapitacao.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Ultracavitação</a>
                            <p class="text-justify">A ultracavitação, também conhecida como lipocavitação, é um procedimento não invasivo, ou seja, não necessita de cirurgia, realizado para eliminar aquela gordura localizada que não sai com exercícios físicos, reduzir medidas e a celulite.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/hidratacao-facial.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Hidratação Facial</a>
                            <p class="text-justify">A Hidratação Facial é um tratamento estético cujo processo de nutrição e hidratação da pele do rosto é feito com produtos que contém princípios ativos regenerantes e hidratantes, favorecendo a elasticidade e a luminosidade dos tecidos e mantendo o equilíbrio da pele.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/rejuvenescimento_intimo.png"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Rejuvenescimento íntimo</a>
                            <p class="text-justify">O rejuvenescimento intimo é o novo “queridinho” das mulheres. Com capacidade para clarear a região íntima como um todo, além de reduzir a flacidez nos grandes lábios e ter a capacidade de diminuir o monte pubiano. Ao contrário do que muitas pensam, essa técnica está longe de estar ligada à reconstrução do hímen.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/rejuvenescimento_facial.png"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Rejuvenescimento Facial</a>
                            <p class="text-justify">O rejuvenescimento facial serve para melhorar a aparência envelhecida da pele pela redução de rugas, combatendo a flacidez, melhorando sua textura e aparência, além de remover linhas de expressões e manchas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/limpeza_pele.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Limpeza de Pele</a>
                            <p class="text-justify">A limpeza de pele é um procedimento estético, realizado em consultórios ou clínicas de estética, que tem como objetivo remover cravos e impurezas da pele. A limpeza de pele também remove o milium, que são pequenos cistos salientes causados pelo acúmulo de óleo e pele nos poros.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ***** Footer Area Start ***** -->
    <%- include("../includes/footer.ejs") -%>
    <!-- ***** Footer Area End ***** -->
    <!-- ******* All JS ******* -->
    <!-- jQuery js -->
    <script src="../js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="../js/dento.bundle.js"></script>
    <!-- Active js -->
    <script src="../js/default-assets/active.js"></script>
</body>

</html>