<!DOCTYPE html>
<html lang="pt-br">
    
<%- include("../includes/headConsultas.ejs") -%>

<body>
    <%- include("../includes/preloader.ejs") -%>
    <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-gradient-overlay"
        style="background-image: url('../img/bg-img/mao.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <h2 class="title">Procedimentos</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb--con">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Consultas</li>
                            <li class="breadcrumb-item active" aria-current="page">Procedimentos</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->
    <section class="dento-blog-area section-padding-100-0 clearfix">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h3>Procedimentos</h3>
                        <p></p>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Blog Item -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/biopsia.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Biópsia</a>
                            <p class="text-justify">Biópsia é um procedimento no qual se colhe uma pequena quantidade,
                                isto é, uma amostra, de tecido ou células, para posterior estudo em laboratório e serve
                                para diagnosticar/tratar doenças de pele. O procedimento é simples e rápido, sendo
                                realizado após anestesia local e em consultório. Após, é necessário dar ponto e voltar
                                ao consultório para ser informado do resultado do exame.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/manchinha.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Retirado de Nevos</a>
                            <p class="text-justify">As "pintas" ou nevos melanocíticos são extremamente comuns, podendo
                                apresentar-se em diferentes cores, tamanhos e formatos e surgem em qualquer parte do
                                corpo. Na maioria das vezes as "pintas" não representam problema algum, embora exista
                                uma grande preocupação das pessoas quanto ao desenvolvimento de câncer de pele.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/papanicolau.png"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Coleta de Papanicolau</a>
                            <p class="text-justify">Procedimento que deve ser realizado anualmente por todas as mulheres
                                que iniciaram atividade sexual. É um exame indolor e que auxilia no diagnostico e
                                prevenção do câncer de colo de útero.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Blog Item -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/escleroterapia.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Escleroterapia</a>
                            <p class="text-justify">A escleroterapia consiste na aplicação de substância esclerosante
                                dentro do vaso para tratar as varizes de ]
                                grau I que aparecem nas pernas e coxas. O procedimento é realizado pelo vascular, e é
                                pouco dolorido.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/lavagem-otologica.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Lavagem Otológica</a>
                            <p class="text-justify">A escleroterapia consiste na aplicação de substância esclerosante
                                dentro do vaso para tratar as varizes de ]
                                grau I que aparecem nas pernas e coxas. O procedimento é realizado pelo vascular, e é
                                pouco dolorido.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/cauterizacao-nasal.png"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Cauterização Nasal</a>
                            <p class="text-justify">A cauterização química é um processo no qual o médico usa substâncias químicas para “queimar” os vasos sangrantes e estancar a perda de sangue pelo nariz. Inicialmente, coloca-se na cavidade nasal um algodão embebido com anestésico local e uma substância vasoconstritora para diminuir o sangramento.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Blog Item -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/bioimpedancia.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Exame de Bioimpedância</a>
                            <p class="text-justify">O exame de bioimpedância é um procedimento que mede a composição corporal através da aplicação de uma suave e indolor corrente elétrica no copo. A corrente circula livremente pelo líquido do tecido muscular, mas encontra resistência do tecido adiposo, que é a gordura.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/naso.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Nasofibrolaringoscopia</a>
                            <p class="text-justify">É uma avaliação endoscópica das cavidades nasais; o procedimento permite uma observação direta e detalhada da sua anatomia e alterações. O exame é semelhante a Nasofaringoscopia e Nasofibroscopia, mas neste caso voltado e estendido aos exames das fibras da laringe e cavidades nasais. É aplicado um spray anestésico via nasal para iniciar o exame e logo introduzido o endoscópio flexível com câmera.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="">
                            <img src="../img/bg-img/teste-alergico.jpg"
                                alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="" class="post-title">Teste Alérgico</a>
                            <p class="text-justify">O teste de alergia é um tipo de exame de diagnóstico que serve para saber se a pessoa tem ou não algum tipo de alergia como a alergia de pele, alergia a desodorante, alimentar, medicamentosa ou até respiratória.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-blog-item mb-100">
                            <a href="">
                                <img src="../img/bg-img/colposcopia.jpg"
                                    alt="">
                            </a>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="" class="post-title">Colposcopia</a>
                                <p class="text-justify">Colposcopia é uma técnica diagnóstica médica para avaliar o colo do útero, e os tecidos da vagina e vulva por via de um instrumento que amplia e ilumina estas estruturas. No decurso do exame, o médico ou enfermeiro mantém o colo do útero aberto e aplica uma solução de 3% a 5% de ácido acético e lugol no colo do útero.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Footer Area Start ***** -->
    <%- include("../includes/footer.ejs") -%>
    <!-- ***** Footer Area End ***** -->
    <!-- ******* All JS ******* -->
    <!-- jQuery js -->
    <script src="../js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="../js/dento.bundle.js"></script>
    <!-- Active js -->
    <script src="../js/default-assets/active.js"></script>
</body>

</html>