<!DOCTYPE html>
<html lang="pt-br">

<%- include("../includes/headConsultas.ejs") -%>

<body>
    <%- include("../includes/preloader.ejs") -%>
    <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url('../img/bg-img/mao.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <h2 class="title">Terapias</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb--con">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Consultas</li>
                            <li class="breadcrumb-item active" aria-current="page">Terapias</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->
    <section class="dento-blog-area section-padding-100-0 clearfix">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h3>Confira Nossas Terapias</h3>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Blog Item -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="/especialidade/nutricao">
                            <img src="../img/bg-img/nutricionista.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="/especialidade/nutricao" class="post-title">Nutrição</a>
                            <p class="text-justify">A nutrição clínica é a área da saúde que se ocupa de diagnosticar, tratar
                                e prevenir doenças de origem alimentar através da história do paciente, investigação alimentar
                                e elaboração de cardápio individualizado de acordo com o objetivo do paciente (perda de peso, ganho de
                                massa ou peso, manutenção do peso).</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-item mb-100">
                        <a href="/especialidade/psicologia">
                            <img src="../img/bg-img/psicologia.jpg" alt="">
                        </a>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="/especialidade/psicologia" class="post-title">Psicologia</a>
                            <p class="text-justify">É a área responsável pelo estudo do comportamento e as funções mentais.
                                O psicólogo é o profissional responsável por esse tipo de atendimento e ele pode seguir diversas
                                linhas de abordagens como a social, a comportamental e a cognitiva.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ***** Footer Area Start ***** -->
    <%- include("../includes/footer.ejs") -%>
    <!-- ***** Footer Area End ***** -->
    <!-- ******* All JS ******* -->
    <!-- jQuery js -->
    <script src="../js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="../js/dento.bundle.js"></script>
    <!-- Active js -->
    <script src="../js/default-assets/active.js"></script>
</body>

</html>