<!DOCTYPE html>
<html lang="pt-br">

  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url('../img/bg-img/dica.png');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Nossas Dicas</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Vídeos Dicas</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="single-blog-item   style-2 d-flex flex-wrap align-items-center mb-50">
            <div class="blog-thumbnail">
          </div>

          <div class="col-12 col-md-12">
            <div class="single-blog-item mb-100" >  
                <div class="section-heading.white text-center">
                  <h2>Como falar de sexo com os filhos</h2>
                </div>
              <div class="resp-container">
                <iframe class="resp-iframe" src="https://www.youtube.com/embed/bf7ZzwDwHvM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>  
          </div>

          <div class="col-12 col-md-12">
            <div class="single-blog-item mb-100">
              <div class="section-heading.white text-center">
                <h2>Qual batom escolher?</h2>
              </div>
              <div class="resp-container">
                <iframe class="resp-iframe" src="https://www.youtube.com/embed/Y9iIxrnmRCo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>  
          </div>

          
          </div>
      </div>

        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Categories</h5>
              <ul class="catagories-list">
                <li><a href="/videos/estetica">Estética</a></li>
                <li><a href="/videos/dicas">Dicas</a></li>
                <li><a href="/videos/doencas">Doenças</a></li>
                <li><a href="/videos/informacao">Informações</a></li>
                <li><a href="/videos/engracados">Engraçados</a></li>
              </ul>
            <div class="single-widget-area adds-widget">
              <img class="w-100" src="../img/bg-img/consulta-especialidades.jpg" alt="">
            </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- ****** About Us Area End ****** -->
  <section class="section-padding-video bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/capa_dicas.jpg');">

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="single-blog-item mb-100" >  
            <div class="fundo-white1 section-heading.white text-center">
              <h2>Campanha Faça o Bem Você Também</h2>
              <div class="resp-container">
                <iframe class="resp-iframe" src="https://www.youtube.com/embed/UoMgcudQ6sE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>  
        </div>

        <div class="col-12 col-md-6">
          <div class="single-blog-item mb-100" >  
            <div class="fundo-white1 section-heading.white text-center">
              <h2>Comer chocolate causa espinha?</h2>
              <div class="resp-container">
                <iframe class="resp-iframe" src="https://www.youtube.com/embed/Lhqtf01PqmM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>  
        </div>
        
      </div>
      
    </div>

  </section>


  <!-- Cool Facts Area Start -->
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-6">
          <div class="single-blog-item mb-100" >
            <div class="section-heading.white text-center">
              <h2>Qual shampoo devo usar?</h2>
            </div>
            <div class="resp-container">
              <iframe class="resp-iframe" src="https://www.youtube.com/embed/L4y2cpbmrSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>  
        </div>

        <div class="col-12 col-md-6">
          <div class="single-blog-item mb-100">  
            <div class="section-heading.white text-center">
              <h2>Como usar o celular</h2>
            </div>
            <div class="resp-container">
              <iframe class="resp-iframe" src="https://www.youtube.com/embed/f24z9qOtmYA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>  
        </div>
        
        <div class="col-12">
          <div class="section-heading text-center">
            <h2 class= "text-muted1">Acompanhe mais vídeos no nosso canal no Youtube</h2>
            <div class="line-pink"></div>
            <div class="col-12">
              <div class="more-btn text-center mt-50">
                <a target="_blank" href="https://www.youtube.com/channel/UCaE_2DjKurJTmC5tHlrMqNw/videos" class="btn dento-btn booking-btn"><i class="fa fa-youtube"></i> Ver Mais</a>
              </div>
            </div>
          </div>
        </div>  

      </div>
      
    </div>

  </section>
    


 <!-- ***** Footer Area Start ***** -->
 <%- include("../includes/footer.ejs") -%>
<!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>

</body>

</html>