<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

  <body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Alergologia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Alergologia</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/alergologia-detalhes.jpg" alt="">

            <h2 class="post-title">O que é Alergologia?</h2>
            <p class="text-justify">Ramo da Medicina que visa o diagnóstico e o tratamento alergias. Hoje é chamada de
              alergia e imunologia, pois o médico deve ser conhecedor não só de alergias, mas também ser capaz de
              reconhecer as doenças imunológicas de todas as idades, embora tratem de sistema distintos. O alergista,
              assim chamado, está apto a diagnosticar, realizar exames e indicar imunoterapia quando necessário ao
              paciente para a dessensibilização. Por ser considerada uma especialidade relativamente nova, ainda recebe
              muitos pacientes encaminhados da dermatologia, pneumologia, otorrinolaringologia, pediatria e
              gastroenterologista, com quem podem trabalhar de forma multidisciplinar.</p>
            <p class="text-justify">Os motivos mais comuns que levam o paciente a procurar o alergista são desde as
              doenças que acometem o sistema respiratório, como asma, bronquite, rinite e sinusite, quanto as doenças de
              pele, como dermatite, urticária, angioedema e as doenças gástricas , como as intolerâncias alimentares e
              alergias alimentares. </p>
            <p class="text-justify">O alergologista pode lançar mão de exames realizados em consultório para o
              diagnóstico da origem da alergia, como os exames de Prick Teste e de Patch Teste. Podem também serem
              realizados de forma complementar exames de sangue, conhecidos como Rast ou Imunocap.</p>
            <p class="text-justify">Hoje está sendo utilizado de forma bastante benéfica o tratamento com imunoterapia,
              que consiste na aplicação de vacina, que pode ser sublingual ou subcutânea, preparada de forma
              individualizada para cada paciente a fim de dessensibilizar de forma especifica o agente causador da
              alergia.</p>
            <p class="text-justify">Além das orientações e medicamentos fornecidos, é muito importante nos casos de
              alergia, o controle do ambiente e exposição do paciente alérgico ao agente causador.</p>
            <h2 class="post-title">Curiosidades</h2>
          </div>
          <!-- Feature Content -->

          <div class="feature_content">
            <!-- Accordions -->
            <div class="accordions">

              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center ">
                    <div>Sou alérgica a medicamentos? Patch ou Prick teste, qual fazer?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">
                        Apesar de existirem diversos testes alérgicos, sendo os mais comuns Prick teste e Patch este, não há testes testes alérgico para a maior parte dos medicamentos e muitas vezes isso é descoberto após se fazer o uso do remédio. 
                    </p>
                    <ul>
                      <li>Prick Teste: avalia aeroalérgenos e alergia alimentares.</li>
                      <li>Patch Teste: avalia as dermatites de contato.</li>
                    </ul>
                    <p>A Alergologia muito comumente faz acompanhamentos multidisciplinares com Nutricionista, Dermatologista e outros. Consulte seu médico.
                    </p>
                  </div>
                </div>


              </div>


              <!-- Accordions End -->
            </div>
          </div>
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

                <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="../img/bg-img/DocsSaude_Alergologia.jpg" alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Alergia</a></li>
                <li><a href="#">Alergias Alimentares</a></li>
                <li><a href="#">Angioedema</a></li>
                <li><a href="#">Asma</a></li>
                <li><a href="#">Bronquite</a></li>
                <li><a href="#">Chiado no Peito</a></li> 
                <li><a href="#">Dermatite</a></li>
                <li><a href="#">Doença Celíaca</a></li>
                <li><a href="#">Eczemas</a></li>
                <li><a href="#">Intolerância Alimentar</a></li>
                <li><a href="#">Rinite</a></li>
                <li><a href="#">Tosse</a></li>
                <li><a href="#">Urticária</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->
        

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>