<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Angiologia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Angiologia</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/angiologia-detalhes.jpg" alt="">

            <h2 class="post-title">O que é Angiologia?</h2>
            <p class="text-justify">é a especialidade médica que se ocupa do tratamento clínico das doenças que acometem vasos sanguíneos (artérias e veias) e vasos linfáticos. Atua de forma multidisciplinar com a cirurgia vascular, que trata de forma cirúrgica as doenças não passiveis de serem tratadas de forma clínica e/ou medicamentosa, mas, de forma genérica, a especialidade é unificada e leva o nome de Angiologia e Cirurgia Vascular. Por isso o especialista nessa área pode ser tanto chamado de angiologista quanto de vascular.</p>
            <p class="text-justify">Os motivos mais comuns que levam o paciente a procurar o alergista são desde as
              doenças que acometem o sistema respiratório, como asma, bronquite, rinite e sinusite, quanto as doenças de
              pele, como dermatite, urticária, angioedema e as doenças gástricas , como as intolerâncias alimentares e
              alergias alimentares. </p>
            <p class="text-justify">Dentre as principais doenças, sinais e sintomas que levam o paciente a procurar o médico angiologista estão  as varizes, microvasos, pé diabético, síndrome de Raynaud, trombose venosa, aneurismas e obstruções arteriais, arteriosclerose, dor e inchaço em membros inferiores, câimbras, dificuldade para deambular, queimação na sola dos pés, cansaço nas pernas e formigamentos, dor e edema de panturrilhas. </p>
            <p class="text-justify">O diagnóstico precoce das doenças vasculares é de extrema importância, uma vez que a maior parte das doenças ocorre de forma silenciosa e por isso é importante buscar a prevenção.</p>
            <h2 class="post-title">Curiosidades</h2>
          </div>
          <!-- Feature Content -->

          <div class="feature_content">
            <!-- Accordions -->
            <div class="accordions">

              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center ">
                    <div>3 principais sintomas de Varizes e riscos</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">Aquelas veias dilatadas nas pernas podem se tornar varizes e são propensas a rupturas, se não tratadas. Os sintomas mais comuns são: Dor; Fadiga; Cansaço, contudo a ardência, câimbras, dormências e inchaços podem estar presentes. As complicações, se não tratadas, podem incluir: Flebites, Tromboses, úlceras e outros. Além da mudança de hábito, para o tratamento podem ser necessário uso de medicamentos, meias elásticas e até cirurgias. Muitas vezes a avaliação com Cardiologistas e nutricionistas se faz necessária, podendo até ser importante um acompanhamento com endocrinologista. É importante que os seus documentos médicos sejam comum entre essas especialidades para que um melhor acompanhamento e tratamento sejam feitos.</p>
                  </div>
                </div>


              </div>


              <!-- Accordions End -->
            </div>
          </div>
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

                <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="../img/bg-img/DocsSaude_angiologia.jpg" alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Dor de Panturrilhas</a></li>
                <li><a href="#">Dor em Membros Inferires</a></li>
                <li><a href="#">Edema de Panturrilhas</a></li>
                <li><a href="#">Inchaço em Membros Inferiores</a></li>
                <li><a href="#">Microvasos</a></li>
                <li><a href="#">Síndrome de Raynaud</a></li>
                <li><a href="#">Trombose Venosa</a></li>
                <li><a href="#">Varizes</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->
        

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>