<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Cardiologia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Cardiologia</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/cardiologia-detalhes.jpg" alt="">

            <h2 class="post-title">O que é Cardiologia?</h2>
            <p class="text-justify">É a especialidade médica que cuida e diagnostica as doenças relacionadas ao coração e sistema circulatório. O médico que se especializa nessa área é o cardiologista. A medicina cardiológica realiza diagnósticos e prescreve tratamentos relacionados aos transtornos do coração e vasos sanguíneos.</p>
            <p class="text-justify">Embora possa confundir, existem as especialidades de cardiologia clínica e cirúrgica. Um especialista em cardiologia clínica é o médico que realiza a prevenção para minimizar o aparecimento de doenças e/ou trata de pacientes com qualquer tipo de problema cardíaco. O cirurgião é aquele que realiza cirurgias dos órgãos sanguíneos e cardiológicos.</p>
            <p class="text-justify">Existem muitos problemas que podem afetar o coração, sendo os mais comuns a hipertensão arterial sistêmica (HAS), infartos, doenças coronarianas, a angina (dor) de peito, a endocardite, a fibrilação estão entre outras.</p>
            <p class="text-justify">Com o objetivo de estabelecer um diagnóstico, o cardiologista pode indicar diversos exames, como um eletrocardiograma, ecografia doppler, MAPA. Lembrando que o diagnóstico clínico é fundamental.</p>
            <p class="text-justify">Falando sobre procedimentos relacionados a tratamento, podemos citar o CAT, a angioplastia e a implantação de um “Stent”.</p>
            <p class="text-justify">Outra competência relacionada ao cardiologista é o aconselhamento pré realização de atividade física para controlar o estado físico e para que o médico possa determinar se o coração trabalha corretamente a fim de suportar o esforço.</p>
            <p class="text-justify">O cardiologista pode trabalhar de forma multidisciplinar com geriatra e clínico geral.</p>
            <h2 class="post-title">Curiosidades</h2>
          </div>
          <!-- Feature Content -->

          <div class="feature_content">
            <!-- Accordions -->
            <div class="accordions">

              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center">
                    <div>Você sabia que o derrame cerebral pode ter origem cardíaca? </div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">
                      Ocorre quando existe a interrupção do fluxo de sangue ao cérebro. Arritmia, dilatação ou alterações no funcionamento do músculo cardíaco ou de suas valvas, assim como a presença de um tumor ou calcificação, contribuem para a formação de coágulos, que podem chegar ao cérebro pela corrente sanguínea. Portanto, não deixe de consultar seu cardiologista e informe todos os sinais e sintomas que você apresenta.  
                    </p>
                  </div>
                </div>
                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center">
                    <div>A Dor no braço e nas costas podem ser sinal de Infarto.</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">O infarto é a segunda maior causa de óbitos no país, atrás apenas de derrames cerebrais. </p>
                    <p class="text-justify">Os sintomas clássicos do infarto são: dores no peito, irradiação para o braço esquerdo, suor e falta de ar. A dor no braço e nas costas representam sinais de alerta. A principal recomendação é procurar o hospital mais próximo, mesmo que não seja o melhor. Rapidez é fundamental para a sobrevivência do paciente.
                    </p>
          
                  </div>
                </div>
                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center ">
                    <div>Como cuidar do meu coração? </div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">
                      Você sabia que a cada quatro pessoas uma tem pressão alta (Hipertensão Arterial) e pode não saber? Isso é o que revelam os estudos mais recentes divulgados pelo Ministério da Saúde. A doença é mais comum em mulheres. Segundo o Estadão, 10% dos jovens brasileiros são hipertensos.
                    </p>
                    <p class="text-justify">
                      Os sintomas podem variar entre: dor de cabeça, dor na nuca, tontura, visão embaçada e outros. Dieta equilibrada, exercícios físicos, controle de peso, não fumar, medicamentos, ajudam no controle, além de diminuir riscos de outras doenças cardiovasculares.
                      Muitos problemas cardiológicos poder estar correlacionados com vasos e a avaliação com um Angiologista, conhecido como vascular, pode ser fundamental, contudo o mais importante é a interação entre esses profissionais, por isso os atendimentos integrados são de extrema importância.

                    </p>
                  </div>
                </div>
              </div>


              <!-- Accordions End -->
            </div>
          </div>
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

                <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="../img/bg-img/DocsSaude_cardiologia.jpg" alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Angina (DOR) de Peito</a></li>
                <li><a href="#">Arteriosclerose</a></li>
                <li><a href="#">Derrame</a></li>
                <li><a href="#">Dislipidemia</a></li>
                <li><a href="#">Doenças Coronarianas</a></li>
                <li><a href="#">Endocardite</a></li>
                <li><a href="#">Fibrilação</a></li>
                <li><a href="#">Hipertensão Arterial Sistêmica</a></li>
                <li><a href="#">Infartos</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->
        

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>