<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Clínico Geral</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Clínico Geral</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/clinicamedica-detalhes.jpg" alt="">

            <h2 class="post-title">O que é Clínica Médica?</h2>
            <p class="text-justify">No Brasil a especialidade é também chamada de Medicina Interna.  O médico clinico é conhecedor de diversas doenças e está apto a tratar várias delas, podendo também lhe indicar o melhor profissional para uma doença especifica, ele auxiliar na prevenção e cura de doenças e trata de pacientes adultos. Ele tem um conhecimento generalizado sobre todos os órgãos e sistemas do corpo humano, faz diagnósticos, pede exames e prescreve medicamentos.</p>
            <p class="text-justify">O Clínico Geral é responsável por receber e acompanhar pacientes em consultórios, conversar com o paciente para ouvir sua história médica, queixas e descrição dos sintomas, examinar, auscultar e apalpar o paciente para fazer o diagnóstico, solicitar exames.</p>
            <p class="text-justify">Na consulta com clínico geral o paciente pode esclarecer dúvidas para entender melhor os sintomas e pode receber orientação sobre quando e qual especialista procurar além de o clínico geral atender às seguintes necessidades: check-up, orientações sobre o uso de medicamentos e prevenção de doenças.</p>
            <p class="text-justify">Os pacientes procuram um clínico geral em casos de gripes e resfriados, hipertensão arterial sistêmica, diabete, tontura e mal estar, dores de cabeça, dores no corpo, vômitos, diarreia, dor abdominal, gastrite, dores no peito, obesidade, dislipidemia, infecções de órgãos e tecidos, anemia, cansaço, dores nas pernas, alergia, entre outros sintomas comuns do dia a dia.</p>
            <h2 class="post-title">Curiosidades</h2>
          </div>
          <!-- Feature Content -->

          <div class="feature_content">
            <!-- Accordions -->
            <div class="accordions">

              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center">
                    <div>Qual a diferença entre resfriado e gripe?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">Seja sábio, não erre mais ao falar com outros. Saiba os maiores erros ao tratar.</p>
                    <p class="text-justify">É muito comum resfriado ser chamado de gripe e vice-versa. A partir de agora você não cometerá esse erro na frente dos outros. Apesar das duas doenças serem virais, elas possuem características bem diferentes.
                      </p>
                    <p class="text-justify">A Gripe é causada pelo vírus da Influenza e os sintomas são mais fortes que os do resfriado comum. Caracteristicamente, sua ocorrência é menor do que o resfriado e é comumente relacionada com: Febre alta; Dores no corpo; Fraqueza; além de sintomas em comum com o resfriado.
                      </p>
                    <p class="text-justify">
                        O Resfriado é causado por diferentes tipos de vírus, os mais comuns são coranavirus e rinovírus e os sintomas são mais leves quando comparados aos da gripe, como: Febre baixa; Dores no corpo leve ou moderada, podendo até não ocorrer nenhum sintoma. Se apresentam, em sua maioria, em via aérea superior, os mais comuns são, espirro, congestão nasal, dor de garganta e coriza. 
                      </p>
                    <p class="text-justify">As Crianças são especialmente afetadas pelas duas doenças, podendo perder apetite, peso, apresentar vômitos e diarreia o que facilita a desidratação.</p>
                    <p class="text-justify">Existe cura? Como tratar?</p>
                    <p class="text-justify">
                        Por ser um vírus, não há como matá-lo e o maior erro é fazer tratamentos com antibióticos sem indicação médica. O tratamento tem o propósito de diminuir os sintomas e melhorar o estado geral, facilitando alimentação e hidratação. Avaliaçaõ com Clinico, Pediatra, Otorrino são importantes, mas não esqueça que a interação entre esses profissionais, para não haver um uso excessivo de medicamentos é mais importante.
                      </p>
                    <p class="text-justify">
                        A prevenção do H1N1 existe e é feita com a vacina da gripe, disponível na Docs Saúde na forma tetravalente. 
                    </p>
                  </div>
                </div>
              </div>


              <!-- Accordions End -->
            </div>
          </div>
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

                <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="../img/bg-img/consulta-especialidades.jpg" alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Alteração da Visão</a></li>
                <li><a href="#">Andropausa</a></li>
                <li><a href="#">Anemia</a></li>
                <li><a href="#">Câimbras</a></li>
                <li><a href="#">Cansaço</a></li>
                <li><a href="#">Cansaço nas Pernas</a></li>
                <li><a href="#">Dislipidemia</a></li>
                <li><a href="#">Dor de Garganta</a></li>
                <li><a href="#">Dor de Panturrilhas</a></li>
                <li><a href="#">Dor em Membros Inferires</a></li>
                <li><a href="#">Dores no Corpo</a></li>
                <li><a href="#">Falta de Apetite</a></li>
                <li><a href="#">Formigamento</a></li>
                <li><a href="#">Fraqueza</a></li>
                <li><a href="#">Hipertensão Arterial Sistêmica</a></li>
                <li><a href="#">Inchaço abdominal</a></li>
                <li><a href="#">Inchaço em Membros Inferiores</a></li>
                <li><a href="#">Mal Estar</a></li>
                <li><a href="#">Perda de Apetite</a></li>
                <li><a href="#">Perda de Peso</a></li>
                <li><a href="#">Queimação na Sola dos Pés</a></li>
                <li><a href="#">Resfriado</a></li>
                <li><a href="#">Síndrome de Raynaud</a></li>
                <li><a href="#">Tontura</a></li>
                <li><a href="#">Torcicolos</a></li>
                <li><a href="#">Vômitos</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->
        

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
    <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>