<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Dermatologia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Dermatologia</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/dermatologia-detalhes.jpg" alt="">

            <h2 class="post-title">O que é Dermatologia?</h2>
            <p class="text-justify">Dermatologia é a especialidade médica que se dedica a prevenção, diagnóstico e tratamento clínico e cirúrgico das doenças relacionados à pele, unhas, cabelos, mucosas e pelos (anexos cutâneos) e glândulas sudoríparas bem como a relação das lesões cutâneas com outras doenças sistêmicas. Também atua nos procedimentos médicos estéticos e cosmiatria, responsável pela parte da beleza da pele, podendo trabalhar em conjunto com outras áreas da estética, como enfermagem estética e esteticistas. Existem ainda outras pernas da dermatologia dedicadas às cirurgias dermatológicas, hansenologia (especializado no cuidado da hanseníase) e doenças de mucosas (boca, lábios, gengiva, língua e também na área genital, entrando os casos de doenças sexualmente transmissíveis – DST). Ele ainda pode ter manejo multidisciplinar com alergologista.</p>
            <p class="text-justify">Por ser considerado o maior órgão do corpo, a pele e anexos podem ser acometidos por mais de 3 mil doenças diferentes, desde crianças até idosos. A pele é a primeira linha de defesa do corpo e por isso a importância de um bom cuidado com essa barreira contra infecções.  Qualquer alteração de cor, textura, formato constitui sinal para procurar um dermatologista.</p>
            <p class="text-justify">As doenças mais comumente tratadas pelo dermatologista são acne, tumores de pele como melanoma e carcinomas, eczemas e alergias, micose de unha, queda de cabelo, psoríase, verrugas, sudorese excessiva, dermatites, micoses e, referindo-se a parte estética, melasma, envelhecimento, rugas, manchas, desidratação e oleosidade da pele, estrias, flacidez, cicatrizes.</p>
            <p class="text-justify">Dentre os tratamentos estéticos procurados pelos pacientes quando pensam em dermatologista estão toxina botulinica (conhecido popularmente por Botox), peelings, preenchimento, skinbooster, sculptra, carboxiterapia, harmonização facial. </p>
            <h2 class="post-title">Curiosidades</h2>
          </div>
          <!-- Feature Content -->

          <div class="feature_content">
            <!-- Accordions -->
            <div class="accordions">

              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center">
                    <div>Qual é o maior órgão do corpo?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">
                        A pele é o maior órgão do corpo formado por três camadas, a superficial é a epiderme, depois vem derme e hipoderme, cada uma com suas características. Os protetores solares ainda são pouco utilizados e o câncer de pele apresenta uma grande incidência e, segundo a Veja de 2016, o número de morte por câncer de pele cresceu 55% em 10 anos.
                      </p>
                  </div>
                </div>
              </div>


              <!-- Accordions End -->
            </div>
          </div>
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

                <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="../img/bg-img/DocsSaude_dermatologia.jpg" alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Acne</a></li>
                <li><a href="#">Carcinomas</a></li>
                <li><a href="#">Catapora</a></li>
                <li><a href="#">Cicatrizes</a></li>
                <li><a href="#">Dermatite</a></li>
                <li><a href="#">Dermatomiosite</a></li>
                <li><a href="#">Eczemas</a></li>
                <li><a href="#">Envelhecimento</a></li>
                <li><a href="#">Estrias</a></li>
                <li><a href="#">Hirsutismo</a></li>
                <li><a href="#">Flacidez</a></li>
                <li><a href="#">Melanoma</a></li>
                <li><a href="#">Melasma</a></li>
                <li><a href="#">Micose De Unha</a></li>
                <li><a href="#">Micoses </a></li>
                <li><a href="#">Pólipos</a></li>
                <li><a href="#">Psoríase</a></li>
                <li><a href="#">Queda De Cabelo</a></li>
                <li><a href="#">Rugas</a></li>
                <li><a href="#">Sudorese Excessiva</a></li>
                <li><a href="#">Urticária</a></li>
                <li><a href="#">Verrugas</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->
        

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
    <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>