<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Endocrinologia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Endocrinologia</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/endocrinologia-detalhes.jpg" alt="">

            <h2 class="post-title">O que é Endocrinologia?</h2>
            <p class="text-justify">Endocrinologia e metabolismo é a especialidade médica que estuda as desordens do sistema endócrino e suas secreções específicas, ou seja, cuida do funcionamento das diversas glândulas responsáveis por produzir hormônios responsável pelo equilíbrio do corpo humano. É a especialidade que trata das doenças hormonais e metabólicas, que estabelecem a homeostase do corpo. Quando algum desses sistemas não funciona de forma correta, podemos encontrar alterações de frequência cardíaca, alterações na composição óssea, atraso de desenvolvimento, disfunção sexual e na fertilidade.</p>
            <p class="text-justify">O endocrinologista trata de pacientes desde a infância até a fase adulta, pois desde o nascimento já podemos apresentar distúrbios que são tratados de forma precoce pelo médico especialista. Um dos primeiros exames realizados já ao nascer é o teste do pezinho, que procura dos doenças congênitas da tireóide que se não diagnosticadas precocemente podem levar a atraso no desenvolvimento neurológico da criança.</p>
            <p class="text-justify">Na maior parte das vezes esse profissional é procurado pelo paciente para cuidar de doenças como diabete e obesidade e aquelas oriundas da tireóide, porém a área de abrangência desse grupo de especialistas vai muito além. Muitas outras patologias são prevenidas, diagnosticas e tratadas por ele. Dentre as principais estão câncer de tireóide, osteoporose, hirsutismo, hipotireoidismo, hipertireoidismo, síndrome dos ovários policísticos (SOP), puberdade precoce, doenças das glândulas adrenais, supra-renais e paratireoide, andropausa, doenças do pâncreas, alteração do ciclo menstrual, e outras mais.</p>
            <p class="text-justify">Antes de mais nada, o médico endocrinologista trabalha de forma a cuidar do indivíduo de forma holística, visando a prevenção de doenças, melhorando a qualidade de vida e longevidade dos pacientes, orientando quanto a importância de se ter uma alimentação saudável e balanceada, praticar atividade física de forma regular, ter uma boa saúde do sono e manejo se stress. 
              Ele, por vezes, trabalha juntamente com o médico nutrólogo e com a sub especialidade médica de nutrição. 
              </p>
            <!-- <h2 class="post-title">Curiosidades</h2> -->
          </div>
          <!-- Feature Content -->
<!-- 
          <div class="feature_content">
            <div class="accordions">
              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center active">
                    <div>Qual é o maior órgão do corpo?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">A pele é o maior órgão do corpo formado por três camadas, a superficial é a epiderme, depois vem derme e hipoderme, cada uma com suas características. 
                      Os protetores solares, ainda são pouco utilizados e o câncer de pele apresenta uma grande incidência e segundo a Veja de 2016 o numero de morte por câncer de pele cresceu 55% em 10 anos.  
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

                <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="../img/bg-img/endocrinologia-banner.jpg" alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Anorexia</a></li>
                <li><a href="#">Câncer de Tireóide</a></li>
                <li><a href="#">Diabete</a></li>
                <li><a href="#">Hipertireoidismo</a></li>
                <li><a href="#">Hipotireoidismo</a></li>
                <li><a href="#">Obesidade</a></li>
                <li><a href="#">Obesidade Infantil</a></li>
                <li><a href="#">Pé Diabético</a></li>
                <li><a href="#">Puberdade Precoce</a></li>
                <li><a href="#">Queimação Na Sola Dos Pés</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->
        

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>