<!DOCTYPE html>
<html lang="pt-br">
<%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Gastroenterologia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Gastroenterologia</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img
              src="../img/bg-img/gastroenterologia-detalhes.jpg"
              alt="">

            <h2 class="post-title">O que é Gastroenterologia?</h2>
            <p class="text-justify">É a especialidade médica que estuda, diagnóstica e trata das doenças do aparelho
              digestivo, que compreende boca, esôfago, estomago, intestino delgado e grosso, colon, reto, pâncreas,
              vesícula biliar, ductos biliares e fígado. </p>
            <p class="text-justify">A boa saúde desses órgãos é fundamental para o bem estar do corpo todo, já que ele
              regula o controle da absorção dos nutrientes fundamentais e a excreção do “lixo” corporal.
              Esses médicos podem ainda se subespecializar em outras áreas relacionadas como endoscopia digestiva alta,
              gastroenterologia pediátrica, hepatologia, nutrição enteral e parenteral e alergias alimentares.
            </p>
            <p class="text-justify">Os especialistas em gastroenterologia podem trabalhar de forma multidisciplinar com
              alergologistas, nutrólogos e nutricionistas e também podem se beneficiar de determinados exames para
              diagnóstico, como a endoscopia e colonoscopia, além de ultrassom de abdome total e Raio-X, mas o exame
              físico detalhado é de fundamental importância para fazer diagnóstico diferencial entre as patologias.</p>

            <h2 class="post-title">Curiosidades</h2>
          </div>
          <!-- Feature Content -->
          <div class="feature_content">
            <div class="accordions">
              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center ">
                    Você sabe o que é Globo (NÃO estou falando de TV.)?
                      Já teve essa sensação? Saiba que é muito comum.
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">Você sabe o que é Globo (NÃO estou falando de TV.)? Já teve essa sensação?
                      Saiba que é muito comum.
                      Já teve uma “bola” na garganta e ela parecia não sair com nada? Tentou beber água, comer pão ou
                      qualquer coisa para isso passar e a “bola” persistia! Essa sensação é chamada de Globo,
                      desconfortável não é!?
                    </p>
                    <p class="text-justify">Uma avaliação deve ser feita para descartar massa (tumor) na região.
                      Muitas vezes, além da avaliação com o Gastro, o acompanhamento com Otorrino e psíquico pode ser
                      necessário assim como uma avaliação multidisciplinar, principalmente para descartar doenças
                      complexas.
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100"
                  src="../img/bg-img/gastroenterologia-banner.jpg"
                  alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Azia</a></li>
                <li><a href="#">Cirrose Hepática</a></li>
                <li><a href="#">Constipação Intestinal</a></li>
                <li><a href="#">Diarreia</a></li>
                <li><a href="#">Dificuldade de Deglutição</a></li>
                <li><a href="#">Doença Celíaca</a></li>
                <li><a href="#">Doença Inflamatória Intestinal</a></li>
                <li><a href="#">Doenças do Refluxo</a></li>
                <li><a href="#">Dor Abdominal</a></li>
                <li><a href="#">Dor de Estômago</a></li>
                <li><a href="#">Dor na Vesícula</a></li>
                <li><a href="#">Enjoo</a></li>
                <li><a href="#">Falta de Apetite</a></li>
                <li><a href="#">Gastrite</a></li>
                <li><a href="#">Hepatite</a></li>
                <li><a href="#">Inchaço Abdominal</a></li>
                <li><a href="#">Intolerância Alimentar</a></li>
                <li><a href="#">Pancreatite</a></li>
                <li><a href="#">Perda de Apetite</a></li>
                <li><a href="#">Síndrome do Intestino Irritável</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>