<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Neurologia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Neurologia</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/neurologia-detalhes.jpg"
              alt="">

            <h2 class="post-title">O que é Neurologia?</h2>
            <p class="text-justify">É a especialidade médica que trata dos distúrbios estruturais do sistema nervoso
              central e periférico, autônomo, parassimpático e simpático. É subdividida em neurologia clínica e
              cirúrgica e pode ainda ter uma perna para a neuropediatria, especializada no cuidados desses órgãos nas
              crianças.</p>
            <p class="text-justify">Ginecologista é o profissional médico mais presente na vida das mulheres, desde a
              infância até a fase adulta. O primeiro contato com esse especialista normalmente se dá ainda na
              adolescência, quando o pediatra já não é mais o melhor especialista para orientar e acompanhar o início da
              vida sexual.
            </p>
            <p class="text-justify">
              O neurologista é o especialista em diagnosticar e tratar as patologias clínicas e as principais doenças,
              sinais e sintomas que levam o paciente a buscar esse especialista são cefaleia, dor de cabeça, epilepsia,
              distúrbios do sono, tumores cerebrais, alteração da locomoção, doença de Parkinson, Mal de Alzheimeir,
              deficiência mental, Síndrome de Guillain-Barré, retardo mental, transtorno de comportamento, doença
              vascular encefálica (AVE), meningite, derrame, demências, esclerose múltipla, perda de força nos membros,
              formigamento ou fraqueza, dificuldade de fala ou deglutição, tonturas, alteração da visão, câimbras,
              dificuldade de deambulação e tremores.
            </p>
            <h2 class="post-title">Curiosidades</h2>
          </div>
          <!-- Feature Content -->
          <div class="feature_content">
            <div class="accordions">
              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center ">
                    <div>Cefaleia x Enxaqueca</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify"><strong>Cefaleia</strong>: Muitas vezes tensional, provoca, além de dores de cabeça de leve a moderada, dores musculares e de nuca. Muitas vezes causada por estresse, ansiedade, depressão e outros.</p>
                    <p class="text-justify"><strong>Enxaqueca</strong>: É a dor de cabeça crônica, as formas de dores poder ser latejantes, de um ou de outro lado da têmpora. Muito comum ter fotofobia (aversão a claridade), fonofobia (fobia ao som), pode haver náuseas e vômitos e piora com odores.</p>
                    <p class="text-justify">As duas patologias podem melhorar com práticas de atividades físicas, mas o excesso pode piorar a enxaqueca.</p>
                  </div>
                </div>
                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center ">
                    <div>Quais os alimentos que podem desencadear crise de dor de cabeça?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">Alimentos gordurosos, refeições realizadas fora do horário habitual, café, queijos, chocolates, adoçantes, condimentos, chás e outros podem serem fatores desencadeadores. A melhor maneira de descobrir quais alimentos pioram é a experiência individual de cada pessoa, mas lembre-se que o estresse é um dos maiores desencadeadores de crises de dor de cabeça.
                    </p>

                  </div>
                </div>
                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center ">
                    <div>Meus remédios já não funcionam mais e eu continuo tendo dores de cabeça?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">Muitas vezes o uso desenfreado de medicamentos tipicamente para tratar as crises de dores de cabeça, quando usados de forma constante podem estar desencadeando as suas crises de dores, elas são chamadas de Cefaleia medicamentosa e o melhor tratamento é a remoção do remédio em questão, o que pode levar a um quadro de enxaqueca de alguns dias. Evite o uso de medicamento sem orientações médicas.
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100"
                  src="../img/bg-img/neurologia-banner.jpg"
                  alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Aneurismas</a></li>
                <li><a href="#">Cefaleia</a></li>
                <li><a href="#">Deficiência Mental</a></li>
                <li><a href="#">Demências</a></li>
                <li><a href="#">Dificuldade de Fala</a></li>
                <li><a href="#">Distúrbios do Sono</a></li>
                <li><a href="#">Doença De Parkinson</a></li>
                <li><a href="#">Doença Vascular Encefálica (Ave)</a></li>
                <li><a href="#">Dor De Cabeça</a></li>
                <li><a href="#">Epilepsia</a></li>
                <li><a href="#">Mal De Alzheimeir</a></li>
                <li><a href="#">Meningite</a></li>
                <li><a href="#">Retardo Mental</a></li>
                <li><a href="#">Síndrome de Guillain-Barré</a></li>
                <li><a href="#">Tremores</a></li>
                <li><a href="#">Tumores Cerebrais</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
    <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>