<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Nutrição</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Nutrição</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img
              src="../img/bg-img/nutricao-detalhes.jpg"
              alt="">

            <h2 class="post-title">O que é Nutrição?</h2>
            <p class="text-justify">A nutrição clínica é a área da saúde que se ocupa de diagnosticar, tratar e prevenir doenças de origem alimentar através da história do paciente, investigação alimentar e elaboração de cardápio individualizado de acordo com o objetivo do paciente (perda de peso, ganho de massa ou peso, manutenção do peso).</p>
            <p class="text-justify">
                O nutricionista é o profissional responsável por esse atendimento e desenvolve ações no âmbito de atenção dietética e segurança alimentar. Esse profissional pode desenvolver a atividade em clínicas, hospitais, academias, spa, creches e também a nível hospitalar, tratando dos enfermos. 
            </p>
            <p class="text-justify">Pode ser dividida em algumas sub áreas como nutrição materno-infantil, geriatria, pré e pós-operatório, bariátrica, gestante e Spas. 
                As principais queixas que levam o paciente a procurar um nutricionista são obesidade, diabete, gestação, doença celíaca, dislipidemias, alergias alimentares, intolerância alimentar, constipação intestinal, pré e pós cirurgia bariátrica, adaptação alimentar e mudança de hábito alimentar, desnutrição e doenças da auto imagem (como anorexia). 
                </p>
            <p class="text-justify">Na consulta, o nutricionista coleta todo o histórico alimentar do paciente, bem como dados de prática esportiva, consumo de bebidas alcoólicas, tabagismo, uso de medicamentos, objetivo, peso, altura, IMC, histórico familiar e coleta de adipometria para poder elaborar um cardápio nutricional. Ainda podem ser solicitados exames de bioquímica e de bioimpedância, que determinam as composições corporais de agua, gordura e massa óssea e músculo. 
                A nutrição clínica pode atuar em conjunto com áreas médicas de nutrologia e endocrinologia. 
                
              </p>
            <p class="text-justify">
                De fato, o controle dos hábitos de vida e a manutenção do bem estar e saúde contribuem para um prognóstico de vida favorável assim como prometem uma senilidade com menos doenças e, consequentemente, com melhor qualidade de vida. Dessa forma, um acompanhamento nutricional é fator primordial na ação preventiva de doenças como hipertensão arterial sistêmica, obesidade, diabetes, hipercolesterolemia e sedentarismo. 
            </p>  
            <!-- <h2 class="post-title">Curiosidades</h2> -->
          </div>
          <!-- Feature Content -->
          <!-- <div class="feature_content">
            <div class="accordions">
              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center active">
                    <div>Dor no ato sexual ou corrimento é Doença Sexualmente Transmissível (DST)?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">Estudo Britânico revela que 10% das mulheres tem dor no ato sexual e os motivos para não procurar um médico é vergonha e desconhecimento. Algumas causas são causas comuns como alergia a sabonetes, protetores de calcinhas. Outros motivos podem esta relacionados com: Endometriose, pólipos, DSTs ou até prisão de ventre, alergias, infecções urinárias, vaginismo e outras. Muitas vezes a avaliação com Alergologista se faz necessário. 
                    </p>
          
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100"
                  src="../img/bg-img/nutricao-banner.jpg"
                  alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Anorexia</a></li>
                <li><a href="#">Baixo Peso</a></li>
                <li><a href="#">Desidratação</a></li>
                <li><a href="#">Desnutrição</a></li>
                <li><a href="#">Obesidade</a></li>
                <li><a href="#">Obesidade Infantil</a></li>
                <li><a href="#">Perda De Peso</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>