<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Ortopedia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Ortopedia</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/ortopedia-detalhes.jpg"
              alt="">

            <h2 class="post-title">O que é Ortopedia?</h2>
            <p class="text-justify">É especialidade médica que se dedica ao estudo e tratamento do sistema locomotor
              (ossos, músculos, ligamentos e articulações) e da coluna vertebral. O ortopedista também pode ser
              traumatologista, que trata dos traumas e fraturas do aparelho músculo-esquelético.
              Ele, por vezes, trabalha de forma multidisciplinar com a fisitria, fisioterapia, neurologista e
              reumatologia.

              <p class="text-justify">
                Dentre as principais doenças, sinais e sintomas que levam o paciente a procurar o ortopedista estão
                hérnia de disco, dores nas costas e articulações, deformidades de extremidades, câncer ósseo, doença de
                tendões, dor lombar e no quadril, fascite plantar, calosidades e deformidades em membros inferiores,
                fraturas e torcicolos.
              </p>
              <p class="text-justify">
                O ortopedista pode se subespecializar em medicina do esporte, onde ele é responsável por prevenir e
                tratar as doenças relacionadas a traumas decorrentes da prática desportiva.
              </p>
              <h2 class="post-title">Curiosidades</h2>
          </div>
          <!-- Feature Content -->
          <div class="feature_content">
            <div class="accordions">
              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center ">
                    <div>De onde vem o Torcicolo?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify">
                      Apesar de ser conhecido por torcicolo, a melhor nomina é contratura muscular do pescoço. Você
                      sabia que a fadiga muscular e hérnia de disco podem ser um dos motivos de Torcicolo? Mesmo
                      alongamentos na região serem importantes para evitar dores, é necessária uma avaliação
                      especializada.
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100"
                  src="../img/bg-img/ortopedia-banner.jpg"
                  alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Alteração da Locomoção</a></li>
                <li><a href="#">Bursite</a></li>
                <li><a href="#">Calosidades</a></li>
                <li><a href="#">Câncer Ósseo</a></li>
                <li><a href="#">Deformidades de Extremidades</a></li>
                <li><a href="#">Dificuldade de Deambulação</a></li>
                <li><a href="#">Dor Lombar</a></li>
                <li><a href="#">Dor no Quadril</a></li>
                <li><a href="#">Dores nas Costas</a></li>
                <li><a href="#">Fascite Plantar</a></li>
                <li><a href="#">Formigamento</a></li>
                <li><a href="#">Fraturas</a></li>
                <li><a href="#">Hérnia de Disco</a></li>
                <li><a href="#">Osteoartrose</a></li>
                <li><a href="#">Osteoporose</a></li>
                <li><a href="#">Perda de Força nos Membros</a></li>
                <li><a href="#">Tendinites</a></li>
                <li><a href="#">Torcicolos</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>