<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Pediatria</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Pediatria</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/pediatria-detalhes.jpg"
              alt="">

            <h2 class="post-title">O que é Pediatria?</h2>
            <p class="text-justify"> 
                especialidade médica que estuda as doenças desde o recém-nascido até a adolescência. 
                O pediatra é o médico responsável pelo acolhimento do recém-nascido na sala de parto e também aquele que faz o primeiro exame de triagem neonatal. Ele acompanha a criança e orienta as famílias quanto imunizações (vacinas), crescimento e peso (puericultura), aleitamento materno e transição alimentar, fases do desenvolvimento e trata as eventuais patologias da infância e adolescência. 
                
            </p>
              <p class="text-justify">
                  Salvo nos casos de doença, no primeiro ano de vida, a criança deve fazer uma consulta mensal ao médico pediatra. Dos 12 aos 23 meses, as visitas ocorrem a cada 3 meses. Daí até os 4 anos são a cada 6 meses e, a partir de então, as consultas de rotina tornam-se anuais e podem, de acordo com a SBP (Sociedade Brasileira de Pediatria) ocorrer até os 21 anos de idade incompletos. 
              </p>
              <p class="text-justify">
                  A especialidade de pediatria trabalha principalmente com a prevenção de doenças e se depara com situações que ultrapassam a esfera de doenças, como orientação no manejo de exposição a televisão e conteúdo erótico, divorcio de pais, violência doméstica, tempo de cuidados por professores ou avós, ausência paterna, etc. Muitas vezes trabalham em conjunto com psicólogo e fonoaudiólogo. 
              </p>
              <p class="text-justify">Além disso, com o aumento da expectativa de vida, está sendo um grande desafio para esses especialistas lidarem com a prevenção de doenças que têm crescido, como obesidade infantil e depressão, atuando em conjunto com endocrinologistas e psiquiatras. 
                  As principais doenças, sinais e sintomas que levam o paciente a procurar o pediatra são perda ou falta de apetite, perda ou baixo peso, ser baixo para a idade, dor de barriga, diarreia, constipação, tosse, resfriado ou gripe, alergias, catapora, chiado no peito. Lembre-se que o diagnóstico clínico é mais rápido e resolutivo. Em casos de necessidade, o pediatra pode solicitar exames (como hemograma, glicemia, colesterol, coleta de liquor, exame de urina) ou mesmo a internação da criança. Muitas vezes a solicitação errônea de exames pode levar a uma piora do quadro e demora no tratamento.
                  </p>
              <!-- <h2 class="post-title">Curiosidades</h2> -->
          </div>
          <!-- Feature Content -->
          <!-- <div class="feature_content">
            <div class="accordions">
              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center active">
                    <div>Tentou tudo para se livrar do Ronco e não deu certo? Como resolver isso?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify"> Sem dúvidas você já ouviu que: </p>
                    <p>
                      <ul>
                        <li>1. Atividade física é importante.</li>
                        <li>2. Postura para dormir.</li>
                        <li>3. Evitar comer 6 horas antes de se deitar.</li>
                        <li>4. Não fazer uso de bebida com álcool antes de dormir.</li>
                        <li>5. Usar aparelhos acrílicos. </li>
                        <li>6. Perder peso, se necessário.</li>
                      </ul>
                    </p>
                    <p class="text-justify">
                        Todas essas informações e dicas são validas, mas de pouca aderência. A cirurgia, tem poucas indicações por não apresentar um bom resultado. O melhor resultado é com o CPAP, porém nem sempre o melhor, pois as indicações são especificas e há necessidade de adaptação do sono. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100"
                  src="../img/bg-img/pediatria-banner.jpg"
                  alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Baixo Peso</a></li>
                <li><a href="#">Bronquite</a></li>
                <li><a href="#">Chiado no Peito</a></li>
                <li><a href="#">Desidratação</a></li>
                <li><a href="#">Desnutrição</a></li>
                <li><a href="#">Diarreia</a></li>
                <li><a href="#">Falta de Apetite</a></li>
                <li><a href="#">Perda de Apetite</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>