<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Psicologia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Psicologia</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/psicologia-detalhes.jpg"
              alt="">

            <h2 class="post-title">O que é Psicologia?</h2>
            <p class="text-justify">
                É a área responsável pelo estudo do comportamento e as funções mentais. 
                O psicólogo é o profissional responsável por esse tipo de atendimento e ele pode seguir diversas linhas de abordagens como a social, a comportamental e a cognitiva.                 
            </p>
            <p class="text-justify">
                Eles são capazes e habilitados a elaborar conceitos de percepção, cognição, personalidade, comportamento, emoção baseados na avaliação e tratamento das psicopatologias, tendo em sua maior parte um papel terapêutico no tratamento do paciente e também são responsáveis pela elaboração e aplicação de testes psicológicos que buscam compreender os processos mentais afim de avaliação psicológica para habilitar motoristas, em processo seletivo de emprego ou mesmo na psicologia forense. 
            </p>
            <p class="text-justify">
                Eles são capazes e habilitados a elaborar conceitos de percepção, cognição, personalidade, comportamento, emoção baseados na avaliação e tratamento das psicopatologias, tendo em sua maior parte um papel terapêutico no tratamento do paciente e também são responsáveis pela elaboração e aplicação de testes psicológicos que buscam compreender os processos mentais afim de avaliação psicológica para habilitar motoristas, em processo seletivo de emprego ou mesmo na psicologia forense. 
            </p>
            <p class="text-justify">
                Os psicólogos podem ter várias sub especializações como a psicologia clínica, psicologia escolar/educacional, psicologia do trânsito, psicopedagogia, neuropsicologia, psicologia jurídica, entre outras. 
                As abordagens da psicologia também são bastante extensas e podemos citar algumas como estruturalismo, psicanálise, Behaviorismo  ou Psicologia comportamental. 
                O psicólogo trata de doenças como transtorno de déficit de atenção e hiperatividade (TDAH), autismo, depressão, dislexia, transtornos sociais e de comportamento, auxilia em casos de transtornos familiares como divórcio de pais, ausência de pai ou mãe, abusos, ansiedade, dependência, etc. 
                
            </p>
            <!-- <h2 class="post-title">Curiosidades</h2> -->
          </div>
          <!-- Feature Content -->
          <!-- <div class="feature_content">
            <div class="accordions">
              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center active">
                    <div>Constrangimento e vergonha? Saiba as frases mais comuns para justificar motivos de não ir
                      Proctologista:</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify"> Sem dúvidas você já ouviu que: </p>
                    <p>
                      <ul>
                        <li>“Isso vai passar.”</li>
                        <li>“Não é nada. Meu primo já teve e resolveu sozinho.”</li>
                        <li>“Muitos me falaram que isso acontece com ele também.”</li>
                        <li>“Sangramento é comum.”</li>
                        <li>“Já tive isso e resolveu sozinho.” – Apesar de estar diferente."</li>

                      </ul>
                    </p>
                    <p class="text-justify">
                      Você sabia que a maioria das doenças graves que ocorrem nesta especialidade é por procura tardia
                      desta especialidade?
                      Hemorroida tem cura e normalmente é uma doença benigna de fácil resolução, casos não tratados
                      podem levar ao procedimento cirúrgico.
                      Sangramento nas fezes pode ser sinal de fissuras, fístulas, diverticulite, pólipos, câncer e
                      hemorroida.
                      Uma das causas de hemorroida é a gestação, para diminuir a incidência o pré-natal, ingestão de
                      líquido, comer fibras evitar esforço evacuatório e lavar ânus após evacuação tem se mostrado
                      efetivo em estudos científicos.

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100"
                  src="../img/bg-img/psicologia-banner.jpg"
                  alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Transtorno Bipolar</a></li>
                <li><a href="#">Transtorno de Ansiedade</a></li>
                <li><a href="#">Transtorno de Comportamento</a></li>
                <li><a href="#">Transtorno de Conduta</a></li>
                <li><a href="#">Transtorno de Déficit de Atenção e Hiperatividade (Tdah)</a></li>
                <li><a href="#">Transtorno do Pânico</a></li>
                <li><a href="#">Transtorno do Stress Pós Traumático</a></li>
                <li><a href="#">Transtorno Obsessivo Compulsivo (Toc)</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>