<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../includes/headConsultas.ejs") -%>

<body>
  <%- include("../includes/preloader.ejs") -%>
  <%- include("../includes/menu.ejs") -%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMR5452"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url('../img/bg-img/mao.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Psiquiatria</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Especialidades</li>
              <li class="breadcrumb-item active" aria-current="page">Psiquiatria</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="../img/bg-img/psiquiatria-detalhes.jpg"
              alt="">

            <h2 class="post-title">O que é Psiquiatria?</h2>
            <p class="text-justify">
              É a especialidade médica que diagnostica, acompanha, trata e reabilita pacientes que apresentam alterações
              psíquicas, sejam eles de cunho orgânico ou funcional, abrangendo uma grande quantidade de diagnósticos.
            </p>
            <p class="text-justify">
              A saúde mental de uma pessoa é influenciada por uma combinação dos fatores específicos do indivíduo assim
              como relacionado às interações com sociedade, família e comunidade que os cerca. Há diversos componentes
              ligados ao bem estar mental que incluem um amor próprio saudável, habilidades de comunicação e superação.
              Por isso, as doenças de cunho mental não podem ser interpretadas como fraquezas, pois podem ser atribuídas
              a elas circunstancias altamente problemáticas e que desertruturem todo um contexto social e familiar, com
              quebra de relacionamentos se não tratados.
            </p>
            <p class="text-justify">
              As doenças, sinais e sintomas que levam o paciente a buscar a ajuda desse especialista são depressão,
              transtorno bipolar, transtorno de conduta, esquizofrenia, demência, transtorno de ansiedade, transtorno
              obsessivo compulsivo (TOC), transtorno do pânico, transtorno do stress pós traumático, uso e dependência
              de substancias lítitas ou iícitas, entre outras.
            </p>
            <p class="text-justify">
              Esses profissionais tem como objetivo diminuir o sofrimento e devolver o bem-estar do individuo e, por
              isso, por vezes é necessário, além do tratamento multidisciplinar com psicólogo (psicoterapia), terapeuta
              e psicanalista, intervenção medicamentosa. O acompanhamento pode ser feito a nível ambulatorial ou, se se
              fizer necessário, dependendo do grau de sofrimento ou se existir risco à vida do paciente, internação
              hospitalar, que pode ser de forma voluntária ou compulsiva.
              A avaliação do paciente psiquiátrico inclui, além da consulta (anamnese), aplicação de questionários
              específicos de acordo com a suspeita patológica e por vezes exames de imagem, como tomografia
              computadorizada (TC). O psiquiatra deve procurar encontrar o motivo que levou o paciente a sofrer de tal
              distúrbio.
              Os transtornos mentais podem variar em grau e duração, algumas ainda não apresentando cura, necessitando
              de tratamento de longo prazo, por vezes a vida inteira. A eficácia do tratamento também é paciente
              dependente e individualizado. O tratamento medicamentoso pode apresentar efeito colateral, como qualquer
              outro medicamento, e, por isso, os pacientes necessitam de acompanhamento e, por vezes, monitoramento
              sanguíneo da droga, como nos casos de tratamento a base de lítio. A frequência das visitas em consultório
              variam de acordo com gravidade e tipo de doença, mas, em geral, ocorrem a cada 60 dias.
              Por existirem uma enorme gama de diagnósticos, a psiquiatria hoje pode ser dividida em diversas
              subespecialidades de acordo com a Sociedade Brasieira de Psiquiatria (SBP) como psiquiatria da infância e
              adolescencia, psicoterapia, psicogeriatria, psiquiatria forense e psiquiatria de ligação.

            </p>
            <h2 class="post-title">Curiosidades</h2>
          </div>
          <!-- Feature Content -->
          <div class="feature_content">
            <div class="accordions">
              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center ">
                    <div>Qual é o País com maior índice de Transtornos Psíquicos da América Latina?</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify"> Segundo a OMS, com incríveis 9,3% da população atormentada por distúrbios de ansiedade o Brasil é o campeão, assim como o recorde em Depressão também é brasileiro com taxas de 5,8% da população. O mais incrível é que essas doenças vêm crescendo entre jovens de 10 e 19 anos e segundo estudos é a segunda maior causa de suicídio entre 15 a 29 anos. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="feature_content">
            <div class="accordions">
              <div class="elements_accordions">

                <div class="accordion_container">
                  <div class="accordion d-flex flex-row align-items-center">
                    <div>Pais! Presentear seus filhos pode causar-lhes Depressão. Cuidado!</div>
                  </div>
                  <div class="accordion_panel">
                    <p class="text-justify"> Existem diversos estudos que mostram que pais ausentes querem suprimir sua falta presenteando os filhos. Sabe-se que o estimulo e o desejo são benéfico aos anseios da vida desde que sejam alcançáveis com algum esforço. Ao presentear seu filho em excesso sem lhe permitir que desenvolva o desejo por algo, pode estar “matando” suas emoções ou os tornando pobres emocionais. Isso acontece porque não há esforço e o anseio por algo, antes de que eles desenvolvam a vontade de ter algo eles já recebem. Oriente seu filho sobre o motivo dos pais trabalharem tanto, dedique os finais de semana a eles, tente ao menos fazer uma refeição em família todos os dias, sem que a TV esteja ligada, esse momento é ótimo para vetar celulares na mesa. Seja claro com a família e exponha seus sentimentos amorosos.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Post Share  -->
          <br />
          <br />

          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Compartilhar</a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Compartilhar</a>
          </div>

        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100"
                  src="../img/bg-img/psiquiatria-banner.jpg"
                  alt=""></a>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Doenças</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Autismo</a></li>
                <li><a href="#">Deficiência Mental</a></li>
                <li><a href="#">Depressão</a></li>
                <li><a href="#">Dislexia</a></li>
                <li><a href="#">Distúrbios do Sono</a></li>
                <li><a href="#">Esquizofrenia</a></li>
                <li><a href="#">Transtorno Bipolar</a></li>
                <li><a href="#">Transtorno de Ansiedade</a></li>
                <li><a href="#">Transtorno de Comportamento</a></li>
                <li><a href="#">Transtorno de Conduta</a></li>
                <li><a href="#">Transtorno de Déficit de Atenção e Hiperatividade (Tdah)</a></li>
                <li><a href="#">Transtorno do Pânico</a></li>
                <li><a href="#">Transtorno do Stress Pós Traumático</a></li>
                <li><a href="#">Transtorno Obsessivo Compulsivo (Toc)</a></li>
                <li><a href="#">Uso e Dependência de Substancias Lítitas ou Iícitas</a></li>
              </ul>
            </div>


            <!-- Single Widget Area -->


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  <!-- ***** Footer Area Start ***** -->
  <%- include("../includes/footer.ejs") -%>
  <!-- ***** Footer Area End ***** -->
  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="../js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="../js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="../js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="../js/dento.bundle.js"></script>
  <!-- Active js -->
  <script src="../js/default-assets/active.js"></script>
</body>

</html>